<h1>¡Hola, {{nombre}}!</h1>
<h3 [ngClass]="nombre == 'Anonimo' ? 'saludo' : '' " id="usuario" [innerText]="nombre">

    <!--No indicamos nada en las etiquetas, sino el valor viene definido por la propiedad {{nombre}}-->
</h3>

<p [ngStyle]="{color: 'orange'}">
    Hola, ¿que tal?
</p>
<!-- <p [ngClass]="{color: 'orange'}">
    Hola, ¿que tal?
</p> -->
<!-- <p [ngClass]="myStyle">
    Hola, ¿que tal?
</p> -->
<button id="emit-alerta" (click)="enviarMensajeAlPadre()">Enviar Mensaje de saludo al componente padre</button>

<!-- Hacer uso del componente ListaBascia del módulo Listas -->

<app-lista-basica></app-lista-basica>